# ─── App ──────────────────────────────────────────────────────────────────────
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_SOCKET_URL=http://localhost:3001
NODE_ENV=development

# ─── Database (Neon PostgreSQL Free Tier) ────────────────────────────────────
DATABASE_URL='postgresql://neondb_owner:npg_cukfzqp4t9dr@ep-billowing-morning-aoik0nje-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
DIRECT_URL="postgresql://neondb_owner:npg_cukfzqp4t9dr@ep-billowing-morning-aoik0nje-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb"

# ─── Authentication ───────────────────────────────────────────────────────────
JWT_ACCESS_SECRET=c05f4ab24429c5c9ea14511f84039d8ded28fa993066461a41a3d34873fc5f46b5fba69143edf7043a760f6695cf34a30b158a25a860c35b6c0f85fd3fcc4a54
JWT_REFRESH_SECRET=85c4116f01dd47b632d414d1c70224f3ba181d540cc0857849518d483697122e94fae5b7bdae66336aa4861c5911cbf21bd670dff57efe964471a93c485a29e7
BCRYPT_ROUNDS=12
OTP_EXPIRY_MINUTES=10

# ─── Email (Resend Free: 3000 emails/month) ───────────────────────────────────
RESEND_API_KEY=re_YT1WFZie_FKscB4CyyRDRQrQ4wtph7s97
EMAIL_DOMAIN=@gmail.com
EMAIL_FROM=abhisheksingh89208@gmail.com

# ─── Gmail SMTP Fallback ──────────────────────────────────────────────────────
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=abhisheksingh89208@gmail.com
SMTP_PASS=fppr qxlw ikrv pqyu

# ─── Cloudinary (Free Tier) ───────────────────────────────────────────────────
CLOUDINARY_CLOUD_NAME=djbv6eqfz
CLOUDINARY_API_KEY=432947896819879
CLOUDINARY_API_SECRET=FQq5uu1nUyvQdHaXTgsgaZ7_HDA
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=djbv6eqfz

# ─── Jitsi Meet (FREE - no key needed) ────────────────────────────────────────
NEXT_PUBLIC_JITSI_DOMAIN=meet.jit.si

# ─── Developer Access (never expose publicly) ─────────────────────────────────
DEVELOPER_ACCESS_KEY=04895954341a17804ffcf45b8869335a5fdef987064ae9752f47bacdb0c8bdb286b76fb7f5d6ed32f167f35e3a847956
DEVELOPER_EMAIL=abhisheksingh89208@gmail.com
